.ButtonPanel{
    display: flex;
    justify-content: center;
    height: 80%;
}

.ScientificPanel{
    flex: 0 0 60%;
    font-size: 2rem;
}

.DigitalPanel{
    flex: 1;
    font-size: 4rem;
}

.BtnRow{
    height: 20%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 50em){
    .ScientificPanel{
        display: none;
    }
}