.Layout{
    max-width: 120rem;
    margin: 5vh auto;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    min-height: 90vh;   
    display: flex;
}

.Nav{
    flex: 0 0 15%;
}

.Content{
    flex: 1;
    background-color: var(--color-black-dark);
    padding: 0 2rem;
}