:root{
  --color-yellow: #fc9503;
  --color-yellow-light: #F7C67C;

  --color-white: #f8f8f8;

  --color-grey-light:#a5a5a5;
  --color-grey-dark: #333333;

  --color-black: #1C1C1C;
  --color-black-dark: #000;
  
  --box-shadow: 0 2rem 6rem rgba(0,0,0, 0.6);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}